header {
	h1 {
		font-size: 3.2em;
		display: inline-block;
		margin: 0 0.5em 0 0;
	}


	.subhead {
		display: none;
		font-weight: 200;
		color: #999;
		line-height: 1.4em;
	}

	border-bottom: 1px solid #eee;

	@media (min-width: 40em) {
		.subhead {
			display: inline-block;
		}
	}
}
